.body {
    flex: 0.8;
    background: linear-gradient(rgb(91, 87, 115), black);
    height: calc(100vh - 83px);
    color: white;
    padding: 30px;
    overflow: scroll;
}

.body::-webkit-scrollbar {
    width: 10px;
    transition: all 1000ms ease-in;
}

.body::-webkit-scrollbar-track {
    background: #ebebeb;
}

.body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #555;
}

.body::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
    background: #666;
}

.body__info {
    display: flex;
    align-items: flex-end;
    padding: 10px;
}

.body__infoImage {
    height: 20vw;
    margin: 0 20px;
    object-fit: contain;
    box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
}

.body__infoText {
    flex: 1;
}

.body__infoText>h2 {
    font-size: 40px;
    margin-bottom: 10px;
}

.body__infoText>p {
    font-size: 14px;
    color: lightgray;
}

.body__songs {
    margin: 20px -30px;
    margin-bottom: 0px;
}

.body__icons {
    display: flex;
    align-items: center;
}

.body__icons>.MuiSvgIcon-root {
    margin-right: 20px;
}

.body__shuffle {
    font-size: 80px !important;
    margin: 20px 0 20px 50px;
}

.body__shuffle:hover {
    cursor: pointer;
    transition: transform 200ms ease-in;
    transform: scale(1.05);
}