.sidebarOption {
    display: flex;
    align-items: center;
    color: gray;
    min-height: 40px;
    cursor: pointer;
    transition: 200ms color ease-in;
}

.sidebarOption:hover {
    color: white;
}

.sidebarOption.onlyTitleOption:not(:last-child) {
    padding: 5px 0;
    /* background-color: red; */
    border-bottom: #282828 1px solid;
}

.sidebarOption__icon {
    margin: 0 10px;
}

.sidebarOption>p {
    width: 85%;
    margin-left: 20px;
    font-size: 14px;
}