.footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    bottom: 0;
    height: 100px;
    width: 100%;
    background-color: #282828;
    padding: 10px;
}

.footer__left {
    flex: 0.3;
    display: flex;
    align-items: center;
    justify-content: center;
    color: gray;
    width: 300px
}

.footer__albumLogo {
    height: 60px;
    object-fit: contain;
    margin-right: 20px;
    border-radius: 5px;
}

.footer__center {
    flex: 0.4;
    color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 300px;
}

.footer__green {
    color: #1ed15e;
}

.footer__icon, .footer__green {
    margin: 0px 3px;
}

.footer__icon:hover, .footer__green:hover {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    color: white;
    transform: scale(1.1) !important;
}

.footer__right {
    flex: 0.3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: gray;
}

.footer__right * .MuiSlider-root {
    color: green;
}